<div class='table'>
  <table class = 'mb-2 align-items-center' >
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
    <% @inventory_food.each do |f| %>
    <tr>
      <td><%= link_to(f.food.name, new_user_inventory_food_inventory_food_path(inventory_id: @inventory.id, food_id: f.food.id)) %></td>
      <td><%= f.quantity %> grams</td>
      <td><%= button_to "Remove", food_path(f.id), method: :delete, class: "btn text-primary" %></td>
    </tr>
    <% end %>
  </table>
</div>