<section class = 'd-flex flex-column mb-2 align-items-center'>
  <% if @inventories.empty? %>
    <h2>There are no Inventories <em>yet !!</em></h2>
  <% else %>
    <% @inventories.each do |inventory| %>
      <div class='d-flex flex-row link'>
        <%= link_to inventory.name, user_inventory_path(id: inventory), class:'link'%>
      </div>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
      <%= link_to "Add new Inventory", new_user_inventory_path%>
    <% end %>
  </div>
</section>
